<div class="debug">
  <div class="container">
    <h3>Commerce Cart Debug Info</h3>
    <div class="debug__info">
      <ul class="debug-group">
        <li class="debug-group__title">User info</li>
        <li><strong>Username</strong> {{ cart.user }}</li>
        <li><strong>Email</strong> {{ cart.email }}</li>
        <li><strong>Customer ID</strong> {{ cart.customerId }}</li>
        <li><strong>Shipping Address ID</strong> {{ cart.shippingAddressId }}</li>
        <li><strong>Billing Address ID</strong> {{ cart.billingAddressId }}</li>
        <li><strong>Last IP</strong> {{ cart.lastIp }}</li>
      </ul>

      <ul class="debug-group">
        <li class="debug-group__title">Cart info</li>
        <li><strong>Cart ID</strong> {{ cart.id }}</li>
        <li><strong>Cart Number</strong> {{ cart.number }}</li>
        <li><strong>Cart Short Number</strong> {{ cart.shortNumber }}</li>
        <li>
          <strong>Coupon</strong>
          {% if cart.couponCode %}
            {{ cart.couponCode }}
          {% else %}
            None
          {% endif %}
        </li>
        <li><strong>Currency</strong> {{ cart.currency }} / {{ cart.paymentCurrency }} (Payment Currency)</li>
      </ul>

      <ul class="debug-group">
        <li class="debug-group__title">Other info</li>
        <li><strong>Gateway ID</strong> {{ cart.gatewayId }}</li>
        <li><strong>Shipping Method Handle</strong> {{ cart.shippingMethodHandle }}</li>
        <li>
          <strong>Payment Source ID</strong>
          {% if cart.paymentSourceId %}
            {{ cart.paymentSourceId }}
          {% else %}
            None
          {% endif %}
        </li>
        <li>
          <strong>Payment Return URL</strong>
          {% if cart.returnUrl %}
            {{ cart.returnUrl }}
          {% else %}
            None
          {% endif %}
        </li>
        <li>
          <strong>Payment Cancel URL</strong>
          {% if cart.cancelUrl %}
            {{ cart.cancelUrl }}
          {% else %}
            None
          {% endif %}
        </li>
        <li><strong>Language</strong> {{ cart.orderLanguage }}</li>
      </ul>
    </div>
  </div>
</div>