<div>
  <div class="container mx-auto p-6">
      <h3>Commerce Cart Debug Info</h3>
      <ul>
          <li><strong>ID</strong> {{ cart.id }}</li>
          <li><strong>Number</strong> {{ cart.number }}</li>
          <li><strong>Short Number</strong> {{ cart.shortNumber }}</li>
          <li><strong>Email</strong> {{ cart.email }}</li>
          <li><strong>Customer ID</strong> {{ cart.customerId }}</li>
          <li><strong>User</strong> {{ cart.user }}</li>
          <li><strong>Shipping Address ID</strong> {{ cart.shippingAddressId }}</li>
          <li><strong>Billing Address ID</strong> {{ cart.billingAddressId }}</li>
          <li><strong>Shipping Method Handle</strong> {{ cart.shippingMethodHandle }}</li>
          <li><strong>Coupon</strong> {{ cart.couponCode }}</li>
          <li><strong>Currency</strong> {{ cart.currency }}</li>
          <li><strong>Payment Currency</strong> {{ cart.paymentCurrency }}</li>
          <li><strong>Gateway ID</strong> {{ cart.gatewayId }}</li>
          <li><strong>Payment Source ID</strong> {{ cart.paymentSourceId }}</li>
          <li><strong>Language</strong> {{ cart.orderLanguage }}</li>
          <li><strong>Payment Return URL</strong> {{ cart.returnUrl }}</li>
          <li><strong>Payment Cancel URL</strong> {{ cart.cancelUrl }}</li>
          <li><strong>Last IP</strong> {{ cart.lastIp }}</li>
      </ul>
  </div>
</div>
<footer>
  <div class="container mx-auto p-6">
      <h3>Welcome!</h3>
      <p>These are the Craft Commerce example templates.</p>
      <p>Resources:</p>
      <ul>
          <li><a href="https://craftcommerce.com/docs">Craft Commerce Documentation</a>.</li>
          <li><a href="https://craftcms.com/docs/introduction">Craft CMS Documentation</a>.</li>
          <li><a href="http://craftcms.stackexchange.com">Craft CMS Stack Exchange</a>. Use the <code>plugin-craftcommerce</code> tag.</li>
          <li><a href="https://craftcms.com/discord">Craft Discord Community</a>. Use the <code>#commerce2</code> channel.</li>
      </ul>
  </div>
</footer>